{% extends "layout.html" %}
{% block content %}
<div class="sidebar">
    <a href="/depo/list">Depoları listele</a>
    <a href="/depo/arrange">Depoları duzenle</a>
</div>
<h2>Depo listesi</h2>
<div class="liste">
    <table>
    {% if content %}
        {% for depo in content %}
        
            <table>
                <td>
                    {{depo}}
                </td>
                

            </table>
            
        {% endfor %}
    {% endif %} 
    </table>
      

</div>
    
{% endblock content %}
