{% extends "layout.html" %}

{% block content %}
{% with messages=get_flashed_messages(with_categories=true) %}
 {% for category, message in messages %}
 <div class="success">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    Personal is inserted
    <style>
        .alert {
          opacity: 1;
          transition: opacity 0.6s; /* 600ms to fade out */
        }
        </style>
        
        <script>
        // Get all elements with class="closebtn"
        var close = document.getElementsByClassName("closebtn");
        var i;
        
        // Loop through all close buttons
        for (i = 0; i < close.length; i++) {
          // When someone clicks on a close button
          close[i].onclick = function(){
        
            // Get the parent of <span class="closebtn"> (<div class="alert">)
            var div = this.parentElement;
        
            // Set the opacity of div to 0 (transparent)
            div.style.opacity = "0";
        
            // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
            setTimeout(function(){ div.style.display = "none"; }, 600);
          }
        }
        </script>
</div>

 {% endfor %}
{% endwith %}
<div class="sidebar">
    <a href="/person/add">Personel Ekle</a>
    <a href="/person/list">Personel Listesi</a>
</div>
<div class="person_add">
    <h2 class="title">Person add</h2>
    <div class="box">
        <form method="POST" action="/person/add">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="ssn" placeholder="ssn" autofocus="">
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="personal_name" placeholder="personal name" autofocus="">
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="job_title" placeholder="job title">
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="email" placeholder="email" autofocus="">
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="phone_number" placeholder="phone number" autofocus="">
                </div>
            </div>
            <br>
            <button class="button is-block is-info is-large is-fullwidth">add</button>
        </form>
    </div>
</div>
{% endblock %}