{% extends "layout.html" %}

{% block content %}
<div class="sidebar">
    <a href="/person/add">Personel Ekle</a>
    <a href="/person/list">Personel Listesi</a>
</div>
<div class="person_add">
    <h2 class="title">Person add</h2>
    <div class="box">
        <form method="POST" action="/person/add">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="ssn" placeholder="ssn" autofocus="">
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="personal_name" placeholder="personal name" autofocus="">
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="job_title" placeholder="job title">
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="email" placeholder="email" autofocus="">
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="phone_number" placeholder="phone number" autofocus="">
                </div>
            </div>
            <br>
            <button class="button is-block is-info is-large is-fullwidth">add</button>
        </form>
    </div>
</div>
{% endblock %}