{% extends "layout.html" %}
{% block content %}
{% with messages=get_flashed_messages(with_categories=true) %}
 {% for category, message in messages %}
 <div class="success">
    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
    Urun Eklendi
    <style>
        .alert {
          opacity: 1;
          transition: opacity 0.6s; /* 600ms to fade out */
        }
        </style>
        
        <script>
        // Get all elements with class="closebtn"
        var close = document.getElementsByClassName("closebtn");
        var i;
        
        // Loop through all close buttons
        for (i = 0; i < close.length; i++) {
          // When someone clicks on a close button
          close[i].onclick = function(){
        
            // Get the parent of <span class="closebtn"> (<div class="alert">)
            var div = this.parentElement;
        
            // Set the opacity of div to 0 (transparent)
            div.style.opacity = "0";
        
            // Hide the div after 600ms (the same amount of milliseconds it takes to fade out)
            setTimeout(function(){ div.style.display = "none"; }, 600);
          }
        }
        </script>
</div>

{% endfor %}
{% endwith %}

<div class="column is-4 is-offset-4">
    <h2 class="title">Urun Ekleme</h2>
    <div class="box">
        <form method="POST" action="/product/add">
            <div class="field">
                <div class="control">
                    <SELECT name="getproduct" style="font-family:verdana">
                    {% for per in product_list %}
                        <OPTION value={{per}}>{{per}}</OPTION>
                    {% endfor %}
                    </SELECT>
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="product_id" placeholder="id" autofocus="">
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="product_name" placeholder="product name" autofocus="">
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="price" placeholder="price">
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    Son kullanma tarihi:
                    <br>
                    <input class="input is-large" type="date" name="expiration_date" placeholder="date" autofocus="">
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="kdv" placeholder="kdv" autofocus="">
                </div>
            </div>
            <br>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="quantity" placeholder="quantity or type" autofocus="">
                </div>
            </div>
            <br>
            <button class="button is-block is-info is-large is-fullwidth">add</button>
        </form>
    </div>
</div>
{% endblock %}