body {
  background: #f7f7f7;
  background-image: url("andy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: auto;
  background-position-y: 32%;
  color: #000000;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
}
h2{
  text-align: center;
}

.bg-steel {
  background-color: #03900f;
}

.site-header .navbar-nav .nav-link {
  color: #e9e9e9;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #000000;
}

a.article-title:hover {
  color: #f30808;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.btn-outline-info {
  color: #fff;
  background-color: #002ed3;
  border-color: #000000;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: transparent;
  position: fixed;
  height: 45%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: rgb(197, 0, 0);
  color: white;
}

div.liste{
  text-align: center;
  color: #070606;
}
table,td,tr,th {
  border: 2px solid black;
  border-collapse: separate;
  text-align: left;
  vertical-align: top;
  margin-left: 30%;
  margin-right: auto;
  width: max-content;
  height: max-content;
  white-space: nowrap;
}
th{
  color: #03900f;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

div.box{
  margin-left: 38%;
}